
@media(max-width:768px){
	.search{
		text-align:center;
		display:inline-block;
	}

	.device{
		display:block;
		margin:20px auto 0 auto;
	}

	.device-small{
		margin-bottom:20px !important;
	}

	.footer-main{
		ul{
		text-align:center;
		margin-bottom:20px;
	}

		h4{
			text-align:center;
		}
	}

}

