/* Blocks */

.block{
	padding:15px;
	margin-bottom:15px;

	h3{
		padding-top:0;
		margin-top:0;
	}

	iframe{
		width:100% !important;
	}

}

.block-primary{
	@extend .block;
	@include add-background($primary-color);
}

.block-secondary{
	@extend .block;
	@include add-background($secondary-color);
}

.block-light{
	@extend .block;
	@include add-background($light-color);
}

.block-dark{
	@extend .block;
	@include add-background($dark-color);
}


.block-center{
	text-align:center !important;
}

.block-image img{
	width:100%;
}

.block-border{
	@include add-border(1px,#cccccc,all);
}

.block-primary-head h3{
	padding:15px 5px 15px 10px;
	margin:0;
	font-size:18px;
	@include add-background($primary-color);
}

.block-primary-head .block-content{
	padding:10px;
	@include add-border(1px,$primary-color,all);
}

.block-icon{
	h3{
		margin:0;
		padding:0;
	}

	.icon{
		float:left;
		width:20%;
		margin-top:10px;
	}

	.icon-content{
		float:left;
		width:70%;

	}
}

